<h3 class="text-lg font-titleFont tracking-wide text-orange">Hi, my name is</h3>
<h1
  class="text-4xl lgl:text-6xl font font-titleFont font-semibold flex flex-col"
>
  Daniel Alberto Chávez Bautista
  <span class="text-textDark mt-2 lgl:mt-4">React Engineer</span>
</h1>
<p
  class="text-base md:max-w-[650px] text-text-dark dark:text-text-light font-medium"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laboriosam ea,
  labore deleniti perferendis facilis. Cupiditate, quisquam provident? Nobis
  facere autem inventore eius fugiat voluptates, atque dolorem placeat quod aut?{
    " "
  }
</p>
<button
  class="w-52 h-14 text-sm font-titleFont border border-orange rounded-md text-orange tracking-wide hover:bg-hoverColor duration-300"
>
  Check out my Project!
</button>
