<div
  class="mx-auto md:mx-0 border-orange border-2 font-extrabold h-[4.5rem] w-[4.5rem] rounded-full flex items-center justify-center"
>
  <span class="text-sm m-auto font-semibold dark:text-white italic">
    {"<AB />"}
  </span>
</div>
